// NOTE: 下記8つは余白用
@for $i from 1 through 20 {
    // TODO: linterの設定をしたらこれをforを使用しているutilities全てにつける
  /* stylelint-disable-next-line */
  ._ml-#{$i} {
    margin-left: #{$i}rem !important;
  }
}

@for $i from 1 through 20 {
  ._mr-#{$i} {
    margin-right: #{$i}rem !important;
  }
}

@for $i from 1 through 20 {
  ._mt-#{$i} {
    margin-top: #{$i}rem !important;
  }
}

@for $i from 1 through 20 {
  ._mb-#{$i} {
    margin-bottom: #{$i}rem !important;
  }
}

@for $i from 1 through 20 {
  ._pl-#{$i} {
    padding-left: #{$i}rem !important;
  }
}

@for $i from 1 through 20 {
  ._pr-#{$i} {
    padding-right: #{$i}rem !important;
  }
}

@for $i from 1 through 20 {
  ._pt-#{$i} {
    padding-top: #{$i}rem !important;
  }
}

@for $i from 1 through 20 {
  ._pb-#{$i} {
    padding-bottom: #{$i}rem !important;
  }
}
